{% extends 'base.html' %}
{% block content %}
<style>
    .links__{
        position: absolute;
        right: 0%;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 8%;
        padding: 1rem;
    }
    section{
        display: flex;
        justify-content: space-between;
        height: 100vh;
        align-items: center;
        width: 95%;
        margin: auto;
    }
    .description{
        width: 45%;
    }
    .description li {
    padding: 0.2rem 0;
    font-size: medium;
    list-style: none;
    margin: 0;
    color: rgb(32, 32, 32);
    }
    form{
        width: 45%;
    }
</style>
<section>
    <div class="links__"><a href="{% url 'task_update' task.id %}">Edit</a><a href="{% url 'task_delete' task.id %}">Delete</a></div>    
    <div class="description">
        <h1>{{task.name}}</h1>
        <li>Description:</li>
        <li>{{task.description}}</li>
        <li>Project: {{task.project}}</li>
        <li>Assigns: {{task.assigned_to.count}}</li>
        <li>Status: {{task.status}}</li>
        <li>Priority: {{task.priority}}</li>
        <li>Notes:</li>
        <li>{{task.notes}}</li>
        {% if task.dependencies.count != 0  %}
        <li>Ddependencies: {{task.dependencies.count}}</li>
        {% endif %}
    </div>
    <form method="post" action="{% url 'task_detail' task.id %}">
        {% csrf_token %}
        {% if request.user in task.assigned_to.all %}
        <p>Do you want to cancel the task?</p>
        <input type="hidden" name="chose" value="cancel_task">
        <button type="submit">Cancel</button>
        {% else %}
        <p>Would you like to contribute to carry out the task?</p>
        <input type="hidden" name="chose" value="perform_task">
        <button type="submit">Perform Task</button>
        {% endif %}

    </form>
</section>






{% endblock %} 